p Enter your sharing rule :
form
    label Name :
    input(type="text",name="ruleName", size=10)
    br
    label Filter Doc :
    textarea(rows="3", cols="75",name="filterDoc")
    br
    label Filter User :
    textarea(rows="3", cols="75",name="filterUser")
    br
    input(id="submitRule" type="submit", value="Submit")
