
center
	h1 Sharing Control Administration

div(class="container")
	div(id="sharingBlock", class="center-block", style="width:30%")
		p(align="center") Authenticate to your PlugDB&nbsp;
		a(href="")
			img(id="authenticate", class="authenticate", src="./images/authenticate.png", height="100", width="100")
		div(id="authStatus", style="display:none")
			i(class="fa fa-spinner fa-spin fa-3x fa-fw text-center")
			span(class="sr-only") 
				
div(id="auth", style="display:none")
	#rule
	#acl
