h1 Sharing app

p
	| Status :
	strong(id="status") #{status}
hr

br

form
	label Target URL : 
	input(type="text", name="targetURL")
	//label Device name : 
	//input(type="text", name="devicename", size=10)
	//label Password : 
	//input(type="password", name="pwd", size=10)
	input(id="registerDevice", type="submit", value="Register")
	//input(id="unregisterDevice", type="submit", value="Unregister")

br
br

form
	label Generate n Contacts :
	input(type="text",name="nDocs",size=1)
	input(id="insertDocs", type="image", src="./images/generate.png", alt="submit", height="50", width="50");
	//input(id="insertDocs", type="submit", value="Generate")
	//img(src="./images/generate.png", height="50", width="50")


p Share all my contacts ! 
	a(href="" )
		img(id="replicateContacts", data-datatype="contact", src="./images/share.jpg", height="60", width="60")

p Share all my photos ! 
	a(href="" )
		img(id="replicatePhotos", data-datatype="album", src="./images/share.jpg", height="60", width="60")

br
br

//p Extra : 
//form
//	label Target URL : 
//	input(type="text", name="targetURL", size=10)
//	input(id="registerDevice", type="submit", value="Unregister device")
//

p Cancel all current replications : 
	a(href="")
		img(id="cancel", src="./images/cancel.png", height="50", width="50")




ul
li 
	a(href="https://github.com/Gara64/cozy-plugdb") Github
