h1 Plug app

p
	| Status PlugDB :
	strong(id="status") #{status}
hr

form
	button(id="initPlug") Start PlugDB
	button(id="closePlug") Close PlugDB

br

form
	label Target URL : 
	input(type="text", name="targetURL")
	label Device name : 
	input(type="text", name="devicename", size=10)
	label Password : 
	input(type="password", name="pwd", size=10)
	input(id="registerDevice", type="submit", value="Register")
	input(id="unregisterDevice", type="submit", value="Unregister")

br
br

form
	label Generate n Contacts and insert the ids in PlugDB :
	input(type="text",name="nDocs",size=5)
	input(id="insertDocs", type="submit", value="Generate")


p Share all my contacts ! 
	a(href="")
		img(id="replicate", src="./images/share.jpg", height="60", width="60")


br
br

//p Extra : 
//form
//	label Target URL : 
//	input(type="text", name="targetURL", size=10)
//	input(id="registerDevice", type="submit", value="Unregister device")
//

p Cancel all current replications : 
	a(href="")
		img(id="cancel", src="./images/cancel.png", height="50", width="50")


//form
//	input(id="cancelReplication", type="submit", value="Cancel all replications")


ul
li 
	a(href="https://github.com/Gara64/cozy-plugdb") Github
