h1 Sharing control panel
p of my personal decentralized service system
p
	| Status :
	strong(id="status") #{status}
hr
br

#plugBlock
	img(id="imgplugdb", class="superpose", src="./images/plugdb.png")
	img(id="imglock", class="superpose", src="./images/lock.png", height="50", width="50")
	br
	a(href="")
		input(type="button", id="init", value="Init")
		input(type="button", id="close", value="Close")
		input(type="button", id="reset", value="Reset")

#sharingBlock
	p.formRow 1/ Authenticate on your PlugDB&nbsp;
		a(href="")
			img(id="authenticate", src="./images/authenticate.png", height="30", width="30")

	//span Show contacts
	//input#show-list(type='checkbox')


	p 2/ Select shared contact
	#myList

	br
	form(autocomplete="on")
		label 3/ Share my contacts with (URL) :
		input(id="targetURL", type="textfield", name="targetURL", value="")
		input(id="replicateContacts", type="image",  data-datatype="contact", src="./images/share.jpg", height="40", width="40")

	//p.formRow 4/ Start sharing&nbsp;
	//	a(href="" )
	//img(id="replicateContacts", data-datatype="contact", src="./images/share.jpg", height="30", width="30")

	br

div
	h3 Create sharing rule
	form
		div
			label What docs?
			input(type='text', name='doctype')
			label Attr
			input(type='text', name='docattr')
			label Value
			input(type='text', name='docval')
		div
			label With who?
			label Attr
			input(type='text', name='subattr')
			label Value
			input(type='text', name='subval')
		input(id='createRule', type='button', value='Ok')


#rule
#acl

hr
br
span More tools
input#toggle-more-tools(type='checkbox') // , checked='checked'
br
br
#more-tools
	form.formRow
		label Reset contacts & create&nbsp;
		input(type="text",name="nDocs",size=1, value=4)
		span &nbsp;new ones called&nbsp;
		input(type="text",name="baseName", size=5, value="Alice" )
		span &nbsp;
		input(id="insertDocs", type="image", src="./images/generate.png", alt="submit", height="25", width="25")
		//input(id="insertDocs", type="submit", value="Generate")
		//img(src="./images/generate.png", height="50", width="50")

	br
	form.formRow
		label Add 1 contact named
		input(type="text",name="singleBaseName", size=5, value="Alice")
		span &nbsp;
		input(id="insertSingleDoc", type="image", src="./images/add.png", alt="submit", height="25", width="25")


	p.formRow Cancel all current replications :
		a(href="")
			img(id="cancel", src="./images/cancel.png", height="25", width="25")




	//- p Share all my photos !
	//- 	a(href="" )
	//- 		img(id="replicatePhotos", data-datatype="album", src="./images/share.jpg", height="60", width="60")


	//p Extra :
	//form
	//	label Target URL :
	//	input(type="text", name="targetURL", size=10)
	//	input(id="registerDevice", type="submit", value="Unregister device")
	//

//p Share the selected contacts :
//	a(href="" )
//		img(id="replicateContacts", data-datatype="contact", src="./images/share.jpg", height="60", width="60")

//p Share all my photos !
//	a(href="" )
//		img(id="replicatePhotos", data-datatype="album", src="./images/share.jpg", height="60", width="60")

	ul
	li
		a(href="https://github.com/Gara64/cozy-plugdb") Github
