div(class="container")
    a(href="")    
        img(id="addsharingrule", src="./images/add.png", height="40", width="40")
    label Add Sharing rule
    a(href="")    
        img(id="addtrigger", src="./images/add.png", height="40", width="40")
    label Add Trigger

div(id="createrule", class="container", style="display:none")
    div(class="well bs-component")
        form(class="form-horizontal")
            fieldset
                legend Create Sharing rule
                div(class="form-group")
                    label(class="col-lg-2") What docs?
                div(class="form-group")
                    label(class="col-lg-offset-2 col-lg-1") Type
                    input(class="col-lg-3", type='text', name='doctype')
                div(class="form-group")
                    label(class="col-lg-offset-2 col-lg-1") Attribute
                    input(class="col-lg-3", type='text', name='docattr')
                div(class="form-group")
                    label(class="col-lg-offset-2 col-lg-1") Value
                    input(class="col-lg-3", type='text', name='docval')
                div(class="form-group")
                    label(class="col-lg-2") With who?
                div(class="form-group")
                    label(class="col-lg-offset-2 col-lg-1") Attribute
                    input(class="col-lg-3", type='text', name='subattr')
                div(class="form-group")
                    label(class="col-lg-offset-2 col-lg-1")  Value
                    input(class="col-lg-3", type='text', name='subval')
                input(id='createRule', class="btn btn-primary", type='button', value='Create rule')
            

div(id="createtrigger", class="container", style="display:none")
    div(class="well bs-component")
        form(class="form-horizontal")
            fieldset
                legend Create trigger
                div(class="form-group")
                    label(class="col-lg-3", for="select") Trigger type
                    select(class="col-lg-2", id="triggertype")
                        option Who
                        option What
                        option Which
                div(class="form-group")
                    label(id="triggeratt1", class="col-lg-3") Attribute
                    input(class="col-lg-2", type='text', name='triggerattribute')
                div(class="form-group")
                    label(id="triggerval1", class="col-lg-3") Value
                    input(class="col-lg-2", type='text', name='triggervalue')
                div(id="triggerattblock", class="form-group", style="display:none")
                    label(id="triggeratt2", class="col-lg-3") Attribute
                    input(class="col-lg-2", type='text', name='triggerattribute')
                div(id="triggervalblock", class="form-group", style="display:none")
                    label(id="triggerval2", class="col-lg-3") Value
                    input(class="col-lg-2", type='text', name='triggervalue')
                input(id='createTrigger', class="btn btn-primary", type='button', value='Create trigger')

div(class="container")
    h3 See sharing rules
    
    table(class="table table-bordered")
        thead
            tr(class="titles")
                th What to share
                th With who
                th Action
        tbody
            each rule, i in rules
                tr
                    td #{rule.fDoc}
                    td #{rule.fSub}
                    td
                        input(data-id="#{rule.id}", data-status="blind", name="show", type="image", src="./images/visualize.svg", alt="show ACL", height="25", width="25")
                        input(data-id="#{rule.id}", name="remove", type="image", src="./images/cancel.png", alt="remove rule", height="25", width="25")
                
#acl
