div(id="stats#{rule.id}", class="container", style="display:none")
    h3
        i(class="fa fa-area-chart")  Rule stats


        
    div
    
        div(class="panel panel-default", style="display:inline-block; margin-right:100px;")
            i(class="fa fa-cog fa-spin fa-2x fa-fw")
                span(class="sr-only")
            img(src="./images/cozy.jpeg", height="100", width="100")
            div(class="panel-heading")
                p 
                    b Untrusted Environment
            div(class="panel-body")
                p # Documents sent to be decrypted:
                    i 478
            
        div(class="panel panel-default", style="display:inline-block; margin-right:100px;")
            i(class="fa fa-cog fa-spin fa-2x fa-fw")
                span(class="sr-only")
            img(src="./images/rpi.jpeg", height="100", width="100")
            div(class="panel-heading")
                p
                    b Isolated Environment
            div(class="panel-body")
                p(id="IEDocs") # Documents matching the rule in the Policy Translator: 
                    i 5
                p(id="IESubs") # Subjects matching the rule in the Policy Translator:
                    i 4
            
        div(class="panel panel-default", style="display:inline-block")  
            i(class="fa fa-cog fa-spin fa-2x fa-fw")
                span(class="sr-only")
            img(src="./images/token.png", height="200", width="100")
            div(class="panel-heading")
                p
                    b Secure Execution Environment
            div(class="panel-body")
                p(id="SEEAclQuar") # ACL? inserted:
                    i  3
                p(id="SEEAclPlus") # ACL+ inserted:
                    i  15
                p(id="SEEAclMinus") # ACL- inserted:
                    i  2

br
br
