div(id="#{triggerID}", class="container", style="display:block")
    h3 Sensitive #{docType}
    
    table(class="table table-inline", style="width:50%;float:left")
        thead
            tr(class="titles")
                th #{docType}
        tbody
            each acl, i in acls
                tr(id="#{acl.id}", class="warning")
                    td
                        a(href="")
                        p
                        img()
