@font-face
  font-family: 'Source Code Pro'
  font-style: normal
  font-weight: 400
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD9V_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff) format('woff')

body
  font-family: 'Source Code Pro'

#sharingBlock
  border: 2px groove black;
  display: inline-block;

#imgplug
  z-index:0;
#imglock
  z-index:1;
  

#plugBlock  
  border: 4px solid red;
  display: inline-block;
  margin-right: 150px;
  margin-left: 20px;

#

.formRow
    display:flex
    align-items:center

#more-tools
    display:none

#toggle-more-tools:checked ~ #more-tools
    display:block

#myList
  display:none;

//#show-list:checked ~ #myList
//  display:block;


table
    padding-left:15px
    border: 2px groove black;

.titles
    height:35px

td
    padding-left:15px
    padding-right:15px

td input
  border:0
  font-family : 'Source Code Pro'
  font-size   : 16px


td input:focus
  outline      :0
  background-color:#96D7FF
  border: 1px dotted black;


// to hide or show the id column
// [role="id"]
//   display:none

// to hide or show the last name column
//[role="ln"]
 // display:none
