doctype 5
html(lang="fr")
    head
        title Plugy
    body
        h1 PlugDB app
        p
            | Status PlugDB : 
            strong(id="status") #{status}
        hr
        br
        form(action="init")
            input(type="submit", value="Start PlugDB" onclick='updateStatus("Initialization...")')
        br


        form(action="insert" method="post" name="insert")
            p Generate n Notes and insert the ids in PlugDB : 
            input(type="text" name="nDocs" size="5")
            input(type="submit", value="Generate") 
        br
        br
        
        p Share all my notes !         
            a(href="replicate")
                img(src="./share.jpg"  height="60" width="60") 

        br
        br

        form(action="close")
            input(type="submit", value="Close PlugDB" onclick='updateStatus("Closing plugDB...")')


script.
    function updateStatus(status) { document.getElementById('status').innerHTML = status }
