#content
  h1 Plug app
  h2 Welcome

  button( data-action="init").Init Start PlugDB
  button( data-action="close").Close Close PlugDB

  ul
    li 
      a(href="https://github.com/Gara64/cozy-plugdb") Github
