#content
	h1 Plug app

	p
		| Status PlugDB :
		strong(id="status") #{status}
	hr

	button(id="initPlug") Start PlugDB
	button(id="closePlug") Close PlugDB

	br
	br

	form(action="insert",method="post",name="insert")
		p Generate n Contacts and insert the ids in PlugDB :
		input(type="text",id="nDocs",size="5")
		input(type="submit",value="Generate")

	p Share all my contacts ! 
		a(href="replicate")
		img(src="./images/share.jpg", height="60", width="60")

	ul
	li 
		a(href="https://github.com/Gara64/cozy-plugdb") Github
